<script type="text/javascript" src="https://www.google.com/jsapi"></script>


 <script type="text/javascript">

      google.load("visualization", "1", {packages:["gauge"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {

        var jsonData = $.ajax({
          url: "json/google_corecharts_format_data.json",
          dataType:"json",
          async: false
          }).responseText;
              
        // Create our data table out of JSON data loaded from server.
     
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ["Department A", 0],
          ["Department B", 0],
          ["Department C", 0],
          ["Department D", 0],
          ["Department E", 0],
          ["Department F", 0],
          ["Department G", 0],
          ["Department H", 0],
          ["Department G", 0],
          ["Department H", 0]
        ]);

        var dataTrue = new google.visualization.DataTable(jsonData);

        var options = {
          max: 400000000,
          min: 0,
          width: 1200, height: 500,
          redFrom: 300000000, redTo: 400000000,
          yellowFrom:200000000, yellowTo: 300000000,
          minorTicks: 4,
          animation:{
            duration: 10000,
            easing: 'linear',
           }
        };

        var chart = new google.visualization.Gauge(document.getElementById('gauge'));

        chart.draw(data, options);

        setInterval(function() {
          chart.draw(dataTrue, options);
        }, 5000);
      }
     </script>

   <div id="gauge" style="width: 1200px; height: 500px;"></div>