<script type="text/javascript" src="https://www.google.com/jsapi"></script>


 <script type="text/javascript">

      google.load("visualization", "1", {packages:["gauge"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {

        function drawChart() {

        var jsonData = $.ajax({
          url: "json/google_gauge_format_data.json",
          dataType:"json",
          async: false
          }).responseText;
              
        // Create our data table out of JSON data loaded from server.
        var data = new google.visualization.arrayToDataTable(jsonData);

        var dataTrue = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ["Department A", 30],
          ["Department B", 40],
          ["Department C", 50],
          ["Department D", 10],
          ["Department E", 50],
          ["Department F", 50],
          ["Department G", 25],
          ["Department H", 10]
        ]);

        var options = {
          width: 1200, height: 500,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5,
          animation:{
            duration: 2000,
            easing: 'linear',
           }
        };

        var chart = new google.visualization.Gauge(document.getElementById('gauge'));

        chart.draw(data, options);

        setInterval(function() {
          chart.draw(dataTrue, options);
        }, 10000);
      }
     </script>

   <div id="gauge" style="width: 1200px; height: 500px;"></div>