<h3>How much do government departments spend?</h3>

<div class="row">
  <div class="twelve columns full-chart">
    <h4><span id="pie-link">Pie</span> . <span id="bar-link">Bar</span> . <span id="gauge-link">Which department spent the most?</span></h4>

        <div id="pie_chart"></div>
        <div id="bar_chart"></div>
        <div id="gauge_chart"></div>

  </div>
</div>
