<div class="row">
  <div class="twelve columns chart">
    <h2>Pie</h2>
    <div id="pie_chart"></div>
  </div>
  <div class="twelve columns chart">
    <h2>Bar</h2>
    <div id="bar_chart"></div>
  </div>
  <div class="twelve columns chart">
    <h2>Gauge</h2>
    <div id="gauge_chart"></div>
  </div>
</div>
