<meta name="twitter:card" content="photo" />
<meta name="twitter:site" content="@gspend" />
<meta name="twitter:title" content="Makers Academy : Data Visualisation Project" />
<meta name="twitter:image" content="https://taxvisuals.herokuapp.com/images/number10.jpg" />
<meta name="twitter:url" content="https://taxvisuals.herokuapp.com/" />

<a class="twitter-share-button"
  href="https://twitter.com/share"
  data-url="https://taxvisuals.herokuapp.com/"
 data-text="check out our awesome data visualisations"
 data-count="none">

  >
Tweet
</a>
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>

<div class="row">
  <div class="twelve columns chart">
    <h2>Pie</h2>
    <div id="pie_chart"></div>
  </div>
  <div class="twelve columns chart">
    <h2>Bar</h2>
    <div id="bar_chart"></div>
  </div>
  <div class="twelve columns chart">
    <h2>Gauge</h2>
    <div id="gauge_chart"></div>
  </div>
</div>
