<h3>How much do government departments spend?</h3>

<div class="row">
  <div class="twelve columns chart">
    <h4>Pie</h4>
    <div id="pie_chart"></div>
  </div>
  <div class="twelve columns chart">
    <h4>Bar</h4>
    <div id="bar_chart"></div>
  </div>
  <div class="twelve columns chart">
    <h4>Which department spent the most?</h4>
    <div id="gauge_chart"></div>
  </div>
</div>
