<html>
  <head>
    <title>Tax Visualisations</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="javascripts/charts.js" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/charts.css">
     
  </head>

  <body>

    <% = yield %>

  </body>
</html>
