We are aiming to help visualise the top 10 government departments solely by their level of outgoings.

<a href="/google_pie">Google Pie</a>
<a href="/google_bar">Google Bar</a>
<a href="/google_gauge">Google Gauge</a>
<a href="/d3">D3</a>