.chart #circles .circle circle {
  stroke: #ffffff;
  fill: #c75a01;
}

.chart #circles text {
  font-family: Helvetica;
  color: #06c377;
  stroke: none;
  text-transform: uppercase;
}

#total circle {
  stroke: #ffffff;
  fill: #c67203;
}
